[submodule "cloudfeeds-nabu"]
	path = cloudfeeds-nabu
	url = https://github.com/rackerlabs/cloudfeeds-nabu.git
[submodule "wadl-tools"]
	path = wadl-tools
	url = https://github.com/rackerlabs/wadl-tools.git
